# 基本配置
CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1=y
CONFIG_BUILD_PATENTED=y

CONFIG_DEFAULT_luci-app-unblockmusic=m
CONFIG_DEFAULT_luci-app-ssr-plus=y
CONFIG_KERNEL_IPV6=n
CONFIG_KERNEL_IPV6_MULTIPLE_TABLES=n
CONFIG_KERNEL_IPV6_SUBTREES=n
CONFIG_KERNEL_IPV6_MROUTE=n

# USB 网络共享 openwrt编译支持USB
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_badblocks=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-vsftpd=y

###

CONFIG_PACKAGE_luci-app-passwall=m

## Configuration
#
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Dns2socks=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_PDNSD=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple-obfs=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=m
# end of Configuration
